/* Styling the custom icon */
.custom_icon {
  background: url("custom_icon_2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}

/* Increase font-size of default button */
#home {
  font-size: 32px;
  line-height: 0;
}
